.header {
  font-size: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
body {
	/* This image will be displayed fullscreen */
	background: url('http://sci.esa.int/science-e-media/img/69/heic1317a.jpg') no-repeat fixed center;
	height: 100vh;
  width: 100vw;
  background-size: cover;
}
html {
  color: white;
}
h1 {
  color: white;
}
